<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  
  <connectionStrings>
    <!--<add name="cn" connectionString="Server=.;     DataBase=Aula11;   Integrated Security=true"/>-->
    <add name="cn" connectionString="workstation id=aulaonce.mssql.somee.com;packet size=4096;user id=Aula111_SQLLogin_1;pwd=no86d6rccj;data source=aulaonce.mssql.somee.com;persist security info=False;initial catalog=aulaonce "/>
  </connectionStrings>

  
  <!--Error Con PostBack-->
  <system.web>
    <pages buffer="true"
         enableEventValidation="false">
    </pages>
  </system.web>
  <!--Error Con PostBack-->
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

  <system.web>

    <!--<deployment retail="true"/>-->

  </system.web>

  


  
  
</configuration>